[Unit]
Description=Highlight Reel core functionality
After=highlight-reel-controls.service
 
[Service]
Type=simple
User=highlightreel
Group=highlightreel
Restart=always
RestartSec=5s
ExecStart=/usr/bin/python3 /home/pi/HighlightReel/core/src/main.py

[Install]
WantedBy=multi-user.target
