[Unit]
Description=Highlight Reel core functionality
After=highlight-reel-wifi-config.service

[Service]
Type=simple
User=highlightreel
Group=highlightreel
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/pi/HighlightReel
ExecStart=/usr/local/bin/node /home/pi/HighlightReel/web_dash/index.js

[Install]
WantedBy=multi-user.target
