[Unit]
Description=Auto updates highlight reel on boot. Bypass if in develop branch
After=network.target
 
[Service]
Type=oneshot
User=root
Group=root
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/pi/HighlightReel/core
ExecStart=/home/pi/HighlightReel/services/boot_handler.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
