[Unit]
Description=Highlight Reel wifi naming
After=highlight-reel-updater.service

[Service]
Type=oneshot
User=root
Group=root
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/pi/HighlightReel/web_dash
ExecStart=/bin/bash /home/pi/HighlightReel/web_dash/services/generate_wifi_config.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
