[Unit]
Description=Highlight Reel wifi naming
Wants=network.target

[Service]
Type=oneshot
User=root
Group=root
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/pi/HighlightReel
ExecStartPre=/home/pi/HighlightReel/core/boot_handler.sh
ExecStart=/bin/bash /home/pi/HighlightReel/web_dash/services/generate_wifi_config.sh

[Install]
WantedBy=multi-user.target
